<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Apache-Axis</display-name>

  <listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>spmlrouter</servlet-name>
    <display-name>OpenSPML SOAP Router</display-name>
    <description>no description</description>
    <servlet-class>
        org.openspml.server.SOAPRouter
    </servlet-class>
    <init-param>
      <param-name>spmlHandler</param-name>
      <param-value>org.sakaiproject.SPML.SPML</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>spmlrouter</servlet-name>
    <url-pattern>/spmlrouter</url-pattern>
  </servlet-mapping>

  <session-config>
        <!-- Default to 5 minute session timeouts -->
        <session-timeout>5</session-timeout>
  </session-config>

  <!-- currently the W3C havent settled on a media type for WSDL;
    http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
    for now we go with the basic 'it's XML' response -->
  <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/local.xml</param-value>
  </context-param>

  <filter>
      <filter-name>Remote CIDR Filter</filter-name>
      <filter-class>org.apache.catalina.filters.RemoteCIDRFilter</filter-class>
      <init-param>
      <param-name>allow</param-name>
      <param-value>127.0.0.0/8, 137.158.158.225/32, 137.158.155.8/32, 137.158.158.234/32, ::1</param-value>
      </init-param>
  </filter>
  <filter-mapping>
      <filter-name>Remote CIDR Filter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
